/* MyPosts.css */

/* Container for the entire component */
.my-posts-container {
  margin: 20px;
}

/* Style for each individual post */
.my-post-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 800px;
  margin-left: 150px;
  margin-top: 40px
}

/* Title style */
.my-post-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #fff;

}

/* Text style */
.my-post-text {
  margin-bottom: 10px;
  margin-top: 20px;

}

/* Image style */
.my-post-image {
  max-width: 40%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* Button style */
.my-post-button {
  margin-left: 20px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.my-post-button:hover {
  background-color: #0056b3;
}

/* Edit button */
.my-edit-button {
  background-color: #28a745;
}

.my-edit-button:hover {
  background-color: #218838;
}

/* Delete button */
.my-delete-button {
  background-color: #dc3545;
}

.my-delete-button:hover {
  background-color: #c82333;
}

.noPost{
  margin-left: 450px;
  margin-top: 250px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}