.post-container {
    background-color: #f0fafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: auto; /* Adjust height based on content */
    flex: 0 0 calc(25% - 40px); /* Set flex properties */
    max-width: calc(25% - 40px); /* Set maximum width */
    width: calc(25% - 40px); /* Set width to maintain consistency */
    display: inline-block; /* Display posts in the same line */
    vertical-align: top; /* Align posts at the top of the line */
}

.post-title {
    font-style: italic;
    font-size: 26px;
    margin-bottom: -30px;
}

/* .post-owner {
    display: ;
} */

.post-message {
    color: rgb(28, 130, 240) !important;
    font-size: 13px !important;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.post-image-container {
    margin-bottom: 20px;
}

.post-image {
    max-width: 100%;
}

.button-container {
    margin-top: 10px;
    margin-bottom: -5px;
}

.btn {
    margin-right: 10px;
    margin-bottom: 5px;
}
